#page_title{
    color: #9d0208;
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    text-align: center;
    font-family: 'Kalpurush', Arial, sans-serif !important;
}
#title{
    color: #9d0208;
    padding: 0%;
    margin: 0%;
    font-size: 100px;
    text-align: center;
    font-family: 'Kalpurush', Arial, sans-serif !important;
}
#menu_div{
  box-sizing: border-box;
  display: grid;
  margin: 10px 10px;
  justify-content: center;
  grid-template-columns: auto auto;
}
#manu{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    background-color: #9d0208;
    height: 100px;
    width: 300px;
    padding-top: 70px;
    margin: 5px;
    grid-template-columns: auto auto;
    text-align: center;
    border-radius: 25px;
    font-family: 'Kalpurush', Arial, sans-serif !important;
}
